/* navbar start */
#navbar{
    background: whitesmoke;
}

#navbar.active {
    background: lightgrey;
}

#logo{
    font-size: 36px;
    font-weight: 550;
    color: black;
    text-shadow: 0px 1px 1px black;
    margin-bottom: 5px;
}

#logo span{
    color: #1a73e8;
}

.navbar-toggler span{
    color: #1a73e8;
}

.navbar-nav{
    margin-left: 5px;
}

.nav-item .nav-link{
    font-size: 16px;
    font-weight: 550;
    color: black;
    letter-spacing: 1px;
    border-radius: 3px;
    transition: 0.5s ease;
}

.nav-item .nav-link:hover{
    background: #1a73e8;
    color: white;
}

#navbar form button{
    background: #1a73e8;
    color: white;
    border: none;
}
/* navbar end */

/* about-us start */
#about-us{
   background-image: url(tourism/china6.jpg);
   background-size: cover;
   background-repeat: no-repeat;
   margin-top: 50px;
}

#about-us h2{
    margin-top: 20px;
    font-size: 25px;
    color: #ffffff;
    text-shadow: 3px 3px darkblue;
}

#about-us p{
    font-size: 20px;
    color: whitesmoke;
    text-shadow: 2px 2px darkblue;

}
/* about-us end */

/* mission start */
#mission{
    background-image: url(tourism/australia3.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    margin-top: 50px;
}

#mission h2{
    font-size: 25px;
    color: whitesmoke;
    text-shadow: 3px 3px darkblue;
}

#mission p{
    font-size: 1.25rem;
    color: whitesmoke;
    text-shadow: 2px 2px darkblue;
}
/* mission end */

/* customer start */
#customer{
    margin-top: 50px;
    background-image: url(tourism/hotel15.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

#customer h2{
    font-size: 36px;
    text-align: center;
    color: #ffffff;
    text-shadow: 3px 3px darkblue;
}

.card-body{
    height: 180px;
}

.card-text {
    font-size: 1.25rem;
    margin-bottom: 15px;
    text-shadow: 1px 0px darkblue;
}
/* customer end */

/*  footer start */
#footer{
    width: 100%;
    margin-top: 50px;
    text-align: center;
    background-color: whitesmoke;
}

#footer h1{
    color: black;
    font-weight: 600;
    padding-top: 30px;
    text-shadow: 1px 1px darkblue;
}

#footer p{
    color: black;
    text-shadow: 1px 0px darkblue;
}

.social-links i{
    padding: 10px;
    border-radius: 5px;
    font-size: 20px;
    background: black;
    color: white;
    margin-left: 10px;
    margin-bottom: 10px;
    transition: 0.5s ease;
    cursor: pointer
}

.social-links i:hover{
    background: #1a73e8;
}
/*  footer end  */