*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    scroll-behavior: smooth;
    font-family: 'Lato', sans-serif;
}

/* navbar start */
#navbar{
    background: whitesmoke;
}
#logo{
    font-size: 36px;
    font-weight: 550;
    color: black;
    text-shadow: 0px 1px 1px black;
    margin-bottom: 5px;
}
#logo span{
    color: #1a73e8;
}
.navbar-toggler span{
    color: #1a73e8;
}
.navbar-nav{
    margin-left: 5px;
}
.nav-item .nav-link{
    font-size: 16px;
    font-weight: 550;
    color: black;
    letter-spacing: 1px;
    border-radius: 3px;
    transition: 0.5s ease;
}
.nav-item .nav-link:hover{
    background: #1a73e8;
    color: white;
}
#navbar form button{
    background: #1a73e8;
    color: white;
    border: none;
}
/* navbar end */

/* contact us start */
.container01{
background-color: #f9f9f9;
padding: 30px;
margin-top: 30px;
border-radius: 10px;
box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
text-align: center;
}
.address p {
    margin-bottom: 10px;
}
.map {
    margin-top: 20px;
}
.form-container {
    margin-top: 30px;
}
.form-label {
    font-weight: bold;
}
/* contact us endm*/

/*  footer start */
#footer{
    margin-top: 50px;
    width: 100%;
    text-align: center;
    background-image: url(tourism/index1.jpg);
    background-size: auto;
}
#footer h1{
    color: black;
    font-weight: 600;
    padding-top: 30px;
    text-shadow: 0px 0px 1px black;
}
.social-links i{
    padding: 10px;
    border-radius: 5px;
    font-size: 20px;
    background: black;
    color: white;
    margin-left: 10px;
    margin-bottom: 10px;
    transition: 0.5s ease;
    cursor: pointer
}
.social-links i:hover{
    background: #1a73e8;
}
/*  footer end  */